[Unit]
Description=overlay-runner
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/go/bin/overlay-runner -config /etc/tinyci/runner.yml
WorkingDirectory=/tmp

[Install]
WantedBy=multi-user.target
